body {
    display: flex;
    justify-content: center;
    align-items: center; /* 初始置中 */
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:
        url("picture/carrot_background.png"),
        linear-gradient(180deg, rgb(255,255,219), rgb(255,210,150));
    background-repeat: repeat;
}

.tv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.tv button {
    background-color: #ff8623;
    color: #ffffff;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

canvas {
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(255, 106, 0, 0.5);
    margin-bottom: 20px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#shop {
    width: 80%;
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(232, 136, 26, 0.8);
    padding: 0 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

h2 {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.item-box {
    position: relative;
    display: inline-block;
    margin: 10px;
}

img {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 5px;
    display: block;
}

.price {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
}
hr {
    border: 1px solid rgb(255, 255, 255);
}
/* .set-item input {
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 150px;
    padding: 0 10px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    outline: none;
} */